option_settings:
  "aws:elasticbeanstalk:application:environment":
    'PRODUCTION': true
    'JWT_SECRET': 'k2t6GyyALm9ECPhJEbuDTquoCoZK3z2iZn9eCp2iNCQM5DS2ienxdlFOB4bnsviT'
    'MONGO_HOST': 'elastos-capsules.fibnr.mongodb.net'
    'MONGO_PORT': 27017
    'MONGO_USERNAME': 'mongoadmin'
    'MONGO_PASSWORD': 'M1yj7C8wjeirJ75C'